/* Reset básico para remover margens e padding padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilo do corpo da página */
body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: #ff4500;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-bar input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 6px 10px;
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e43e00;
}

/* Banner Principal */
.banner {
  background-color: #1e90ff;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.banner h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
}

.banner button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ff4500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner button:hover {
  background-color: #e43e00;
}

/* Seção de Produtos */
.produtos {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.produto-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
}

.produto-item img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.produto-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.produto-item p {
  font-size: 18px;
  color: #ff4500;
  margin-bottom: 20px;
}

.produto-item button {
  padding: 10px 15px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.produto-item button:hover {
  background-color: #1c7ccc;
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-info {
  margin-bottom: 10px;
}

.footer-info a {
  color: #ff4500;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.social-media a:hover {
  color: #ff4500;
}
